{% extends 'base.html' %}
{% block start %}


<div class="container col-4 card shadow-lg mt-4 mx-auto px-0 bg-warning ">
    <button class="btn btn-primary mb-2 text-dark"> <a class="text-decoration-none text-white" href="/index">Home</a> </button>

    <h1 class="text-center  fw-bold">Search Employee</h1>
    <form class="form p-4 p-1" action="/filter_emp" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Employee Firstname / Lastname</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
        </div>
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Department</label>
            <input type="text" class="form-control" id="dept" name="dept" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Role</label>
            <input type="text" class="form-control" id="role" name="role"aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock start %}